<section class="about">
    <div class="about-container">
        <h2 class="about-title">Hello</h2>
        <p class="about-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit et magni, rerum soluta optio hic asperiores? Ex, inventore voluptas. Quam iusto sapiente adipisci in assumenda ratione voluptate veniam doloribus est?</p>
    </div>
    <div class="about-links">
        <a class="about-link" href="#">LinkedIn -></a>
        <a class="about-link" href="#">GitHub -></a>
        <a class="about-link" href="#">Email -></a>
    </div>
</section>